.header {
  background-color: #56ab91;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}
.site-logo img {
  width: 100%;
  max-width: 16rem;
}
.header-list {
  display: flex;
}
.header-list__item {
  transition: all 0.4s ease;
  padding: 0.8rem 1.5rem;
  border-bottom: 2px solid #56ab91;
}
.header-list__item:hover {
  border-bottom: 2px solid white;
}
.header-list__item:not(:last-child) {
  margin-right: 2.5rem;
}
.header-list__link {
  font-size: 1.5rem;
  letter-spacing: 0.005rem;
  color: #fff;
}

.header-navbar__list {
  display: flex;
  flex-wrap: wrap;
}
.header-navbar__item:not(:last-child) {
  margin-right: 2rem;
}
.header-navbar__btn {
  background-color: #56ab91;
  border: 0rem;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.4s ease;
}
.header-navbar__btn:hover {
  opacity: 0.6;
}
.header-navbar__link svg {
  color: white;
  transition: all 0.4s ease;
}
.header-navbar__link svg:hover {
  opacity: 0.6;
}
/* ADAPTIVE */
@media screen and (max-width: 900px) {
  .header__sitenav,
  .header-navbar {
    display: none;
  }
}
